/*Recipe Search Page Styles */
.result-div-styles {
border: 1px solid black;
}

.search-body {
    width: 80%;
    margin: auto;
}

.ingredient-div-style {
    background-color: lightgrey;
    padding-top: 10px;
    column-count: 3;
}
.text-preptime {
    float: left;
}
.text-cookingtime {
    float: center;
    padding-right: 15%;
    padding-left: 15%;
}
.text-servingsize {
    float: right;
}
.subheadingdiv-style {
    display: flex;
}
    /*recipe search image style */
.recipeImgStyles {
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
}
.hide {
    display:none;
}