/*Recipe Search Page Styles */
.result-div-styles {
border: 1px solid black;
margin-bottom: 0 !important;
}

.search-body {
    width: 80%;
    margin: auto;
}

.ingredient-div-style {
    background-color: lightgrey;
    padding-top: 10px;
    column-count: 3;
    margin-bottom: 10px;
}
.text-preptime {
    float: left;
}
.text-cookingtime {
    padding-right: 15%;
    padding-left: 15%;
}
.text-servingsize {
    float: right;
}
.subheadingdiv-style {
    display: flex;
}
.hasIngredient {
    color: green;
}
/*recipe search image style */
.recipeImgStyles {
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
}
.hide {
    display: none !important;
}
/*recipe method styles */
.method-style {
    text-align: center;
    border: 1px black solid;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 10px;
}
.instruction-div-styles {
    padding-right: 10px;
    padding-left: 10px;
}